@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Set default space font */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0B0B15; /* void-black */
  color: white;
}